<!doctype HTML>
<head>
  <% include ./partials/header %>
</head>
<title> Groupify </title>
<body>
<% include ./partials/navbar %>

<h1> <span class="main-header-outer"> Employer </span> </h1>
<!-- <div id="company-field"<span id="company-name">Company Name</span><br>
  <form name="form1" action="#">
  <input class="c-input" name='text1' type="text">
</div>
<div id="submit-section" class="text-center"><a href="/groups"><button type="button" class="btn btn-success">Submit</button></a></div> -->

<div class="company-employee-box row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s12">
         <input id="first_name2" type="text" class="validate">
         <label class="active" for="first_name2">Company Name</label>
       </div>
     </div>
   </form>
   <a id="employee-submit-button" href="/groups"><button type="button" class="btn btn-success">Submit</button></a>
 </div>


</body>
</html>
