<!doctype HTML>
<head>
  <% include ./partials/header %>
  <script type="text/javascript" src="/static/js/group.js"></script>
</head>
<title> Groupify </title>
<body>
  <% include ./partials/navbar %>

<h1> <span class="main-header-outer"> Employer Groups </span> </h1>


</body>
</html>
