<!DOCTYPE HTML>
<head>
  <% include ./partials/header %>
</head>
<title> Groupify </title>
<body>
  <% include ./partials/navbar %>

<h1><span class="main-header-outer"> Employee Form </span></h1>

<div class="employee-box row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s12">
         <input value="XXX-XX-XXXX" id="first_name2" type="text" class="validate">
         <label class="active" for="SSN">SSN</label>
       </div>
       <div class="input-field col s12">
         <input id="first_name2" type="text" class="validate">
         <label class="active" for="first_name2">Company Name</label>
       </div>
     </div>
   </form>
   <a id="submit-button" href="/traitify"><button type="button" class="btn btn-success">Submit</button></a>
 </div>


</body>
</html>
